@font-face{
    font-family: "montserrat-Medium";
    src: url(../../../assets/fonts/Montserrat-Medium.ttf);
}
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "montserrat-Medium";
    font-weight: bold;
}
.enhance{
 height: 700px;
 background-color: darksalmon;
 padding: 20px;
 
}
.credible{
    display:grid;
    grid-template-columns: auto auto;
   margin-top: 50px;
    gap: 10px;
   margin-left: 60px;

}
.comp{
 width:600px;
 height: 500px;
 display: flex;
 flex-direction: row;
}
.benes{
    width: 400px;
    height: 400px;

}

.faster{
    width:200px;
    height: 400px;
}
.de-bar{
    border: 1px solid black;
    width: 670px;
}
.de-baar{
    border: 2px solid black;
    width: 170px;
}
.faster h2{
    padding:20px;
}
.trans-for{
    width: 500px;
    height: 400px;
    
}
.trans-for h3{
    padding:20px;
    line-height:20px;
}
@media(max-width:480px){
    .credible{
        display: grid;
        grid-template-columns: auto;
    }
}