* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat-Medium";
  font-weight: bolder;
}
@font-face {
  font-family: "montserrat-Medium";
  src: url(../../../assets/fonts/Montserrat-Medium.ttf);
}
.nft-dev {
  padding: 100px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(6, 2, 2, 0.2);
}
.nftdev-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.nftdev-title h1 {
  font-size: 40px;
  font-weight: 900;
}
.nftdev-title h2 {
  font-weight: 500;
  font-size: 20px;
}
.nftdev-title p {
  font-weight: lighter;
}
.custom-nft {
  padding: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
}
.nft-bar {
  border: 3px solid black;
  width: 100%;
  background-color: black;
}
.custom-marketplace h2:hover {
  color: red;
}
.custom-marketplace p {
  font-weight: 50;
}
.white-label h2:hover {
  color: red;
}
.white-label p {
  font-weight: 50;
}
.maintenance h2:hover {
  color: red;
}
.maintenance p {
  font-weight: 50;
}
.custom-marketplace {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.white-label {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.maintenance {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ecommerce-nft {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ecommerce-nft p {
  font-weight: 100;
}
.nft-based {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nft-based p {
  font-weight: 100;
}
.nft-lending {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nft-lending p {
  font-weight: 100;
}
.exchange-platform {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.exchange-platform p {
  font-weight: 100;
}

@media (max-width: 480px) {
  .custom-nft {
    display: grid;
    grid-template-columns: auto;
  }
}
