* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat-Medium";
  font-weight: bolder;
}
@font-face {
  font-family: "montserrat-Medium";
  src: url(../../../assets/fonts/Montserrat-Medium.ttf);
}
.advantages {
  padding: 40px;
}
.hybrid-process {
  padding: 20px;
}
.process h3 {
  font-size: 11px;
  align-items: left;
  text-align: justify;
}
.process-bar {
  width: 100%;
  border: 1px solid black;
  background-color: black;
}
.app-bar {
  width: 80px;
  border: 2px solid black;
  background-color: black;
}
.app-process {
  display: grid;
  grid-template-columns: auto auto;
  gap: 150px;
}
.process {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}
@media (max-width: 1024px) {
  .app-process {
    display: grid;
    grid-template-columns: auto;
  }
}
