@font-face{
    font-family: "montserrat-Medium";
    src: url(../../../assets/fonts/Montserrat-Medium.ttf);
}
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "montserrat-Medium";
    font-weight: bold;
}
.cre-at{
    background-color: gray;
    height:1100px;
}
.view{
    display: grid;
    grid-template-rows: auto auto;
    padding: 40px;
    gap: 30px;
}
.view1{
    width:99%;
    height:600px;
    background-color: white;
}
.view1 h2{
    padding:20px;
}
.view1 h2 button{
    color:white;
    margin-left:70%;
    height: 40px;
    color: #14151b;
    font-size: 1.1rem;
    border:1px solid #02789e;
    transition: all .5s;
    border-radius: 2px;
    font-weight: 700;
    padding: 10px;
}
.view1 h2 button:hover{
    background-color: #02789e;
}
.view2{
    width: 600px;
    height: 300px;
}
.page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    margin-left: 30px;
}
.page1{
    width:350px;
    height:450px;
    
}
.Bodyscapeyoga h1{
    padding: 10px;
}
.Bodyscapeyoga h1:hover{
    color: red;
}
.Bodyscapeyoga p{
    color: #14151b;
}
.Bodyscapeyoga h5{
    margin-top: 30px;
    color: #14151B;
}
.page2{
    width:350px;
    height:450px;
}

.Cart-eckh h1{
    padding: 10px;
}
.Cart-eckh h1:hover{
    color: red;
}
.Cart-eckh p{
    color: #14151b;
}
.Cart-eckh h5{
    margin-top: 30px;
    color: #14151B;
}
.page3{
    width:350px;
    height:450px;
}

.Supergas h1{
    padding: 10px;
}
.Supergas h1:hover{
    color: red;
}
.Supergas p{
    color: #14151b;
    padding: 10px;
}
.Supergas h5{
    margin-top: 30px;
    color: #14151B;
}
.view2{
    width: 99%;
    height: 450px;
    background-color: white;
    box-shadow: 4px 4px lightgrey;
    transition: transform.10s; 
}
.Know{
    display:grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
.Say{
    width: 800px;
    min-height:180px;
    padding: 30px;
}
.Say h1{
    font-weight: bold;
    color: #14151B;
    font-size: 40px;
}
.Say h3{
    font-weight: 600;
    color: #14151b;
    margin-top: 10px;
}
.slick{
    width: 300px;
    height: 180px;
}
.Martino{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    margin-top: 19px;
}
.Australia{
    width: 150px;
    height: 150px;
    margin-left: 40px;
    margin-top: 30px;
}
.mart{
    width: 150px;
    height: 100px;
    background-color: black;
    color:#fff;
    padding: 20px;
    margin-top:60px;
    
}
.aust{
    width: 700px;
    height: 500px;
}
.aust p {
    padding:40px;
    font-size:20px;
}
.custom-bar{
    border: 2px solid black;
    background-color: black;
    width: 143%;
}
@media(max-width:480px){
    .view{
        display: grid;
        grid-template-columns: auto;
    }
}