* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat-Medium";
  font-weight: bolder;
}
@font-face {
  font-family: "montserrat-Medium";
  src: url(../../../assets/fonts/Montserrat-Medium.ttf);
}
.sparx-dev {
  padding: 20px;
}
.sparx-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.competitors {
  padding: 10px;
}

.sparxit {
  display: grid;
  grid-template-columns: auto auto auto;
}
.sparx-bar {
  width: 100%;
  border: 4px solid black;
  background-color: black;
}
.competitors-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 1028px) {
  .sparxit {
    display: grid;
    grid-template-columns: auto;
  }
}
