* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat-Medium";
  font-weight: bolder;
}
@font-face {
  font-family: "montserrat-Medium";
  src: url(../../../assets/fonts/Montserrat-Medium.ttf);
}
.contract-dev {
  padding: 100px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(6, 2, 2, 0.2);
}
.contractdev-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contractdev-title h1 {
  font-size: 40px;
  font-weight: 900;
}
.contractdev-title h2 {
  font-weight: 10;
  font-size: 20px;
}
.contractdev-title p {
  font-weight: lighter;
}
.experienced-team {
  padding: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
}
.contract-bar {
  border: 3px solid black;
  width: 100%;
  background-color: black;
}
.experience-title h2:hover {
  color: red;
}
.experience-title p {
  font-weight: 50;
}
.hiring-plans h2:hover {
  color: red;
}
.hiring-plans p {
  font-weight: 50;
}
.clear-communication h2:hover {
  color: red;
}
.clear-communication p {
  font-weight: 50;
}
.experience-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hiring-plans {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.clear-communication {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 480px) {
  .experienced-team {
    display: grid;
    grid-template-columns: auto;
  }
}
