@font-face{
    font-family: "montserrat-Medium";
    src: url(../../../assets/fonts/Montserrat-Medium.ttf);
}
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "montserrat-Medium";
    font-weight: bold;
}
.choose{
    height:500%;
    margin-top: 20%;
}
.choose h1{
    font-size:50px;
    font-weight: bold;
    padding: 30px;
}

.bring{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    padding:60px;
    
}
.Decades {
    height: 250px;
    width: 350px;
}
.Decades  hr{
    margin-bottom: 10px;
    width: 350px;
    height: 10px;
    background-color: black;
    
}
.Decades  h4{
    font-size: 16px;
    margin-top: 10px;
    color: rgb(73, 71, 71);
}
.Decades  h3{
    font-size: 30px;
}
.On-time{
    
    height: 250px;
    width: 350px;
}
.On-time hr{
    margin-bottom: 10px;
    width: 350px;
    height: 10px;
    background-color: black;
    
}
.On-time h4{
    font-size: 16px;
    margin-top: 10px;
    color: rgb(73, 71, 71);
}
.On-time h3{
    font-size: 30px;
}
.adopt {
    
    height: 250px;
    width: 350px;
}

.adopt hr{
    margin-bottom: 10px;
    width: 350px;
    height: 10px;
    background-color: black;
}
.adopt h4{
    font-size: 16px;
    margin-top: 10px;
    color: rgb(73, 71, 71);
}
.adopt h3{
    font-size: 30px;
}
.replace{
    height: 250px;
    width: 350px;
}

.replace hr{
    margin-bottom: 10px;
    width: 350px;
    height: 10px;
    background-color: black;
}
.replace h4{
    font-size: 16px;
    margin-top: 10px;
    color: rgb(73, 71, 71);
}
.replace h3{
    font-size: 30px;
}
.support{
    
    height: 250px;
    width: 350px;
}

.support hr{
    margin-bottom: 10px;
    width: 350px;
    height: 10px;
    background-color: black;
    
}
.support h4{
    font-size: 16px;
    margin-top: 10px;
    color: rgb(73, 71, 71);
}
.support h3{
    font-size: 30px;
}
.team{
     height: 250px;
    width: 350px;
}

.team hr{
    margin-bottom: 10px;
    width: 350px;
    height: 10px;
    background-color: black;
    
}
.team h4{
    font-size: 16px;
    margin-top: 10px;
    color: rgb(73, 71, 71);
}
.team h3{
    font-size: 30px;
}