* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat-Medium";
  font-weight: bolder;
}
@font-face {
  font-family: "montserrat-Medium";
  src: url(../../../assets/fonts/Montserrat-Medium.ttf);
}
.defi-dev {
  padding: 100px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(6, 2, 2, 0.2);
}
.defidev-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.defidev-title h1 {
  font-size: 40px;
  font-weight: 900;
}
.defidev-title h2 {
  font-weight: 10;
  font-size: 20px;
}
.defidev-title p {
  font-weight: lighter;
}
.defi-discovery {
  padding: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
}
.defi-bar {
  border: 3px solid black;
  width: 100%;
  background-color: black;
}
.discovery-dev h2:hover {
  color: red;
}
.discovery-dev p {
  font-weight: 50;
}
.MVP-dev h2:hover {
  color: red;
}
.MVP-dev p {
  font-weight: 50;
}
.continous-dev h2:hover {
  color: red;
}
.continous-dev p {
  font-weight: 50;
}
.discovery-dev {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.MVP-dev {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.continous-dev {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 480px) {
  .hybrid-stakes {
    display: grid;
    grid-template-columns: auto;
  }
}
