* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat-Medium";
  font-weight: bolder;
}
@font-face {
  font-family: "montserrat-Medium";
  src: url(../../../assets/fonts/Montserrat-Medium.ttf);
}
.testimonal {
  width: 600px;
  height: 300px;
  
}

.view2 {
  width: 99%;
  height: 450px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(6, 2, 2, 0.2);
}
.Know {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
.Say {
  width: 800px;
  min-height: 180px;
  padding: 30px;
}
.Say h1 {
  font-weight: bold;
  color: #14151b;
  font-size: 40px;
}
.Say h3 {
  font-weight: 600;
  color: #14151b;
  margin-top: 10px;
}
.slick {
  width: 300px;
  height: 180px;
}
.Martino {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  margin-top: 19px;
}
.Australia {
  width: 150px;
  height: 150px;
  margin-left: 40px;
  margin-top: 30px;
}
.mart {
  width: 150px;
  height: 100px;
  background-color: black;
  color: #fff;
  padding: 1px;
  align-items: center;
}
.aust {
  width: 700px;
  height: 200px;
}
.aust p {
  padding: 40px;
  font-size: 20px;
}
.custom-bar {
  border: 2px solid black;
  background-color: black;
  width: 143%;
}
@media (max-width: 1028px) {
  .Know {
    display: grid;
    grid-template-columns: auto;
  }
  .Martino {
    display: grid;
    grid-template-columns: auto;
  }
}
