* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat-Medium";
  font-weight: bolder;
}
@font-face {
  font-family: "montserrat-Medium";
  src: url(../../../assets/fonts/Montserrat-Medium.ttf);
}
.metaverse-dev {
  padding: 100px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(6, 2, 2, 0.2);
}
.metaversedev-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.metaversedev-title h1 {
  font-size: 40px;
  font-weight: 900;
}
.metaversedev-title h2 {
  font-weight: 100;
  font-size: 20px;
}
.metaversedev-title p {
  font-weight: lighter;
}
.proof-metaverse {
  padding: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
}
.metaverse-bar {
  border: 3px solid black;
  width: 100%;
  background-color: black;
}
.owner-metaverse h2:hover {
  color: red;
}
.owner-metaverse p {
  font-weight: 500;
}
.digital-assets h2:hover {
  color: red;
}
.digital-assets p {
  font-weight: 500;
}

.owner-metaverse {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.digital-assets {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.governance-meta {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.governance-meta p {
  font-weight: 100;
}
.inter-meta {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.inter-meta p {
  font-weight: 100;
}
.access-meta {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.access-meta p {
  font-weight: 100;
}
.integration-meta {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.integration-meta p {
  font-weight: 100;
}
@media (max-width: 480px) {
  .proof-metaverse {
    display: grid;
    grid-template-columns: auto;
  }
}
