* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat-Medium";
  font-weight: bolder;
}
@font-face {
  font-family: "montserrat-Medium";
  src: url(../../../assets/fonts/Montserrat-Medium.ttf);
}
.MobileApp-dev {
  padding: 100px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(6, 2, 2, 0.2);
}
.Mobiledev-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Mobiledev-title h1 {
  font-size: 40px;
  font-weight: 900;
}
.Mobiledev-title h2 {
  font-weight: 10;
  font-size: 20px;
}
.Mobiledev-title p {
  font-weight: lighter;
}
.Real-device {
  padding: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
}
.Real-bar {
  border: 3px solid black;
  width: 100%;
  background-color: black;
}
.Device-Coverage h2:hover {
  color: red;
}
.Device-Coverage p {
  font-weight: 50;
}
.Smart-Testing h2:hover {
  color: red;
}
.Smart-Testing p {
  font-weight: 50;
}
.Facility h2:hover {
  color: red;
}
.Facility p {
  font-weight: 50;
}
.Device-Coverage {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Smart-Testing {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Facility {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1024px) {
  .MobileApp-dev {
    padding: 50px;
  }
  .Real-device {
    display: grid;
    grid-template-columns: auto;
  }
}
