* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat-Medium";
  font-weight: bolder;
}
@font-face {
  font-family: "montserrat-Medium";
  src: url(../../../assets/fonts/Montserrat-Medium.ttf);
}
.wallet-dev {
  padding: 100px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(6, 2, 2, 0.2);
}
.plethora-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.plethora-title h1 {
  font-size: 40px;
  font-weight: 900;
}
.plethora-title h2 {
  font-weight: 500;
  font-size: 20px;
}
.plethora p {
  font-weight: lighter;
}
.crypto-wallet {
  padding: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
}
.wallet-bar {
  border: 3px solid black;
  width: 100%;
  background-color: black;
}
.currency-wallet h2:hover {
  color: red;
}
.currency-wallet p {
  font-weight: 500;
}
.payment-wallet h2:hover {
  color: red;
}
.payment-wallet p {
  font-weight: 500;
}
.integration-wallet h2:hover {
  color: red;
}
.integration-wallet p {
  font-weight: 500;
}
.currency-wallet {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.payment-wallet {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.integration-wallet {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 480px) {
  .crypto-wallet {
    display: grid;
    grid-template-columns: auto;
  }
}
