* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat-Medium";
  font-weight: bolder;
}
@font-face {
  font-family: "montserrat-Medium";
  src: url(../../../assets/fonts/Montserrat-Medium.ttf);
}
.snap-app {
  background-color: #bbb5b8;
  padding: 20px;
}
.browser-heading {
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(6, 2, 2, 0.2);
  padding: 30px;
}
.exclusive {
  display: flex;
  flex-direction: row;
  gap: 530px;
}
.browsing img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f88f7b;
  opacity: 0.5;
  transition: all 0.3s ease;
}
.browsing img {
  display: inline;
  position: relative;
}

.gall {
  padding: 30px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
.browsing {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.browsing img {
  width: 386px;
  height: 275px;
  background-color: #f88f7b;
}
.browser-btn {
  border-radius: 2px;
  background-color: transparent;
  padding: 20px;
  border-color: #02789e;
  box-shadow: 0px 8px 16px 0px rgba(6, 2, 2, 0.2);
}
.browser-btn:hover {
  background-color: #02789e;
  color: white;
}
.browsing h1 {
  display: inline-block;
  position: relative;
}

.browsing h1:after {
  content: "";
  position: absolute;
  width: 160px;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 1.5s ease-out;
}
.browsing h1:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  background-color: black;
}

.browsing h1:hover {
  text-decoration: underline;
  text-decoration-color: grey;
  color: red;
}
@media (max-width: 1028px) {
  .gall {
    display: grid;
    grid-template-columns: auto;
  }
  .exclusive {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
