* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat-Medium";
  font-weight: bolder;
}
@font-face {
  font-family: "montserrat-Medium";
  src: url(../../../assets/fonts/Montserrat-Medium.ttf);
}
.dapp-dev {
  padding: 100px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(6, 2, 2, 0.2);
}
.dappdev-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dappdev-title h1 {
  font-size: 40px;
  font-weight: 900;
}
.dappdev-title h2 {
  font-weight: 10;
  font-size: 20px;
}
.dappdev-title p {
  font-weight: lighter;
}
.trained-dapp {
  padding: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
}
.dapp-bar {
  border: 3px solid black;
  width: 100%;
  background-color: black;
}
.dapp-developers h2:hover {
  color: red;
}
.dapp-developers p {
  font-weight: 50;
}
.strong-portfolio h2:hover {
  color: red;
}
.strong-portfolio p {
  font-weight: 50;
}
.engagement-models h2:hover {
  color: red;
}
.engagement-models p {
  font-weight: 50;
}
.dapp-developers {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.strong-portfolio {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.engagement-models {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 480px) {
  .trained-dapp {
    display: grid;
    grid-template-columns: auto;
  }
}
