@font-face{
    font-family: "montserrat-Medium";
    src: url(../../../assets/fonts/Montserrat-Medium.ttf);
}
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "montserrat-Medium";
    font-weight: bold;
}
.request{
  padding: 20px;
}
.connect{
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
}
.provide{
    width:500px;
    height: 500px;
    padding: 30px;
}
.provide p{
    margin-top: 20px;
}
.provide ul{
    margin-top: 50px;
}
.query{
    width: 650px;
    height: 500px;
}

.contact-form h1 {
    color: #e42c38;
    padding: 50px;
    font-size: 28px;
    font-weight: bolder;
  }
  form {
    border: none;
    background: #fff;
    border-radius: 4px;
    padding: 50px;
    width: 100%;
    color: #2e2e2e;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  
  .form-columnone .form-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .form-columns {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  .form_columnone {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  select {
    color: grey;
  }
  #inputs {
    width: 470px;
    padding: 9px 18px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    outline: none;
  }
  #inputs:hover {
    border-color: black;
  }
  textarea:hover {
    border-color: black;
  }
  
  #text {
    width: 100%;
    height: 300px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    outline: none;
  }
  .formSubmit button {
    font-weight: 700;
    font-size: 16px;
    background: #02789e;
    border-radius: 3px;
    padding: 15px !important;
    border-color: #02789e;
    outline: 0;
    color: white;
  }
  .formsubmit button:hover {
    color: white;
    
  }
  @media(max-width:480px){
    .connect{
      display: grid;
      grid-template-columns: auto;
    }
  }