* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat-Medium";
  font-weight: bolder;
}
@font-face {
  font-family: "montserrat-Medium";
  src: url(../../../assets/fonts/Montserrat-Medium.ttf);
}
.advantages {
  padding: 40px;
  background-color: #fdcfc1;
}
.hybrid-benefits {
  background-color: #fdcfc1;
  padding: 30px;
}
.benefits h3 {
  font-size: 16px;
  align-items: center;
}
.benefits-bar {
  width: 100%;
  border: 1px solid black;
  background-color: black;
}
.add-bar {
  width: 80px;
  border: 2px solid black;
  background-color: black;
}
.add-benefits {
  display: grid;
  grid-template-columns: auto auto;
  gap: 150px;
}
.hybrid-content {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
}
.hybrid-content h3 {
  text-align: justify;
  align-items: justify;
  font-size: 14px;
  font-weight: 100;
}
@media (max-width: 480px) {
  .add-benefits {
    display: grid;
    grid-template-columns: auto;
  }
}
