@font-face{
    font-family: "montserrat-Medium";
    src: url(../../../assets/fonts/Montserrat-Medium.ttf);
}
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "montserrat-Medium";
    font-weight: bold;
}
.from {
    display:grid;
    grid-template-columns: auto auto auto;
    background-color: #bcdfea;
    margin-top: 20px;
    gap: 50px;
}
.wellness h4{
 margin-top: 10px;
 margin-left: 40px;
 color: #28282e;
}
.wellness h2{
    margin-top: 30px;
    margin-left: 40px;
    color: #14151b;
    font-weight: bold;
}
.wellness p{
    margin-top: 50px;
    margin-left: 40px;
    color: #28282e;
}

.cost h4{
    margin-top: 10px;
    margin-left: 40px;
    color: #28282e;
   }
.cost h2{
       margin-top: 30px;
       margin-left: 40px;
       color: #14151b;
       font-weight: bold;
   }
.cost p{
       margin-top: 50px;
       margin-left: 40px;
       color: #28282e;
   }
   
.well h4{
    margin-top: 10px;
    margin-left: 40px;
    color: #28282e;
    
   }
.well h2{
       margin-top: 30px;
       margin-left: 40px;
       color: #14151b;
       font-weight: bold;
   }
.well p{
       margin-top: 50px;
       margin-left: 40px;
       color: #28282e;
   }
.wellness hr{
    border: 3px solid black;
    margin-top: 50px;
    width: 50px;
    margin-left: 30px;
   }
   
.cost hr{
    border: 3px solid black;
    margin-top: 50px;
    width: 50px;
    margin-left: 30px;
   }
   
.well hr{
    border: 3px solid black;
    margin-top: 50px;
    width: 50px;
    margin-left: 30px;
   }
   @media (max-width: 600px) {
    .from{
        display: grid;
        grid-template-columns: auto;
        
    }
   }